<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head.ejs'); %>

    <body>
        <%- include('../../partials/navbar.ejs') %>
            <div id="add-application-page" class="in-app-page flex-center">
                <h3 class="subtitle is-3">Edit an Application</h3>
                <form action="/student/apps/<%=app._id%>?_method=PUT" method="POST" class="field form-set-width">
                    <div class="control">
                        <label class="label">
                            Job Title<input name="title" class="input text-input" type="text" value="<%=app.title%>">
                        </label>
                        <label class="label">
                            Company<input name="employer" class="input text-input" type="text"
                                value="<%=app.employer%>">
                        </label>
                        <%
                        const month = app.dateApplied.getMonth() + 1 > 9 ? app.dateApplied.getMonth() + 1 : "0" + (app.dateApplied.getMonth() + 1);

                        const day = app.dateApplied.getDate()> 9 ? app.dateApplied.getDate() : "0" + app.dateApplied.getDate();
                        
                        const date=`${app.dateApplied.getFullYear()}-${month}-${day}`%>
                            <label class="label">
                                Date Applied<input name="dateApplied" class="input text-input" type="date"
                                    value="<%=date%>">
                            </label>
                            <label class="label">
                                Status
                                <select name="status">
                                    <option>Applied - No Response</option>
                                    <option>Applied - Under Consideration</option>
                                    <option>Interviewing</option>
                                    <option>Rejected</option>
                                </select>
                            </label>
                            <label class="label">
                                Job Description
                                <textarea name="jobDescription" id="job-description-form"
                                    class="fixed-textarea"><%=app.jobDescription%></textarea>
                            </label>
                            <label class="label">
                                Additional Notes<textarea name="notes" id="additional-job-notes-form"
                                    class="fixed-textarea"><%=app.notes%></textarea>
                            </label>

                            <div class="field">
                                <div class="control flex-column">
                                    <input type="submit" class="fixed-size-button button is-rounded is-primary"
                                        value="Update"></input>
                                </div>
                            </div>
                    </div>
                </form>
                <a href="/student/apps/<%=app._id%>">
                    <button class="fixed-size-button button is-rounded">Cancel</button>
                </a>
            </div>
    </body>

</html>