<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head.ejs'); %>


    <body>
        <%- include('../../partials/navbar.ejs') %>
            <div id="search-applications-page" class="in-app-page">
                <h3 class="title is-3">My Applications</h3>
                <form class="control flex-column" id="filter-index-form">
                    <div class="field flex-center">
                        <div class="control has-icons-left search-field ">
                            <input type="search" class="yellow-outline-button button fixed-size-button search-field-left"
                                placeholder="Search for an app..." id="filter-index-term">
                            <span class="icon is-small is-left search-icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <div class="field select">
                            <select id="sort-my-apps" class="search-field search-field-right yellow-outline-button button">
                                <option class="placeholder-color" value="" disabled selected>Sort By...</option>
                                <option value="Date Applied">Date Applied</option>
                                <option value="Job Title">Job Title</option>
                                <option value="Company" type="submit" action="">Company</option>
                                <option value="Status">Status</option>
                            </select>
                        </div>
                    </div>
                    <div id="#include-rejected-apps">
                        <label for=include-rejected-apps>Include Rejected Applications</label>
                        <% if (includeRejected) {%>
                            <input type="checkbox" value="include-rejected-apps" name="include-rejected-apps" id="include-rejected-apps" checked>
                            <%}%>
                        <%if (!includeRejected) {%>
                            <input type="checkbox" value="include-rejected-apps" name="include-rejected-apps" id="include-rejected-apps">
                                <%}%>
                    </div>
                    <button type="submit"
                        class="fixed-size-button button is-rounded is-primary yellow-solid-button">Search</button>
                </form>
                <article>
                    
                    <div class="my-list">
                        
                        <p class="flex-center">
                            Showing&nbsp;<b><%=apps.length%></b>&nbsp;result<%if (apps.length !== 1) {%>s<%}%><% if (searchTerm !== "" && searchTerm !== "null") {%>&nbsp;for&nbsp;<b><%=searchTerm%></b><%}%>&nbsp;&nbsp;&nbsp;
                            <a href="/student/apps/my_applications/false/dateApplied/null">
                                <button type="submit"
                                class="is-small button is-rounded yellow-outline-button">Show all active applications</button>
                            </a>
                        </p>
                        
                        <% for (app of apps) {%>
                            <div class="job-card">
                                <div class="job-card-header">
                                    <a href="/student/apps/<%=app._id%>" class="title is-6 job-card-employer">
                                        <%=app.employer%>
                                    </a>
                                    <div class="card-popout <% if (app.status !== "Rejected" ) {%>
                                        job-card-popout<%}%>
                                            <% if (app.status==="Rejected" ) {%>
                                                job-card-popout-rejected<%}%>" id="popout-<%=app._id%>">
                                                        <p><a class="card-popout-link" href="/student/apps/<%=app._id%>">Review</a></p>
                                                        <p>
                                                            <a class="card-popout-link" href="/student/apps/<%=app._id%>/edit">Update</a>
                                                        </p>
                                                        
                                                        <% if (app.status !=="Rejected" ) { %>
                                                            <form action="/student/apps/<%=app._id%>/rejected?_method=PUT"
                                                                method="POST" class="no-margin">
                                                                <input type="submit" class="rejected-button card-popout-link"
                                                                    value="Mark as Rejected">
                                                                </input>
                                                            </form>
                                                            <%}%>
                                    </div>
                                    <div id="ellipse-container-<%=app._id%>" class="ellipse-container">
                                        <i class="fas fa-ellipsis-v job-card-ellipse"></i>
                                    </div>
                                </div>
                                <!--Array of Months-->
                                <% const months={ 0: "January" , 1: "February" , 2: "March" , 3: "April" , 4: "May" ,
                                    5: "June" , 6: "July" , 7: "August" , 8: "September" , 9: "October" , 10: "November" ,
                                    11: "December" } %>
                                    <div class="job-card-bottom">
                                        <p>
                                            <b>Job Title: </b>
                                            <%=app.title%>
                                        </p>
                                        <p><b>Date Applied:</b>
                                            <%const month=app.dateApplied.getMonth()%>
                                                <%const date=`${months[app.dateApplied.getMonth()]}
                                                    ${app.dateApplied.getDate()}, ${app.dateApplied.getFullYear()}`%>
                                                    <%=date%>
                                        </p>
                                        <p>
                                            <b>Status:</b>
                                            <%=app.status%>
                                        </p>
                                    </div>
                            </div>
                            <%}%>
                    </div>
                </article>
                
            </div>
    </body>

</html>