<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs'); %>


    <body>
        <%- include('../partials/navbar.ejs') %>
            <div id="search-applications-page" class="in-app-page">
                <h3 class="title is-3">My Applications</h3>
                <div class="control flex-column">
                    <div class="field">
                        <p class="control has-icons-left">
                            <input type="search" class="yellow-outline-button button fixed-size-button is-rounded"
                                placeholder="Search for an App...">
                            <span class="icon is-small is-left">
                                <i class="fas fa-search"></i>
                            </span>
                        </p>
                    </div>
                    <div>
                        <label for=include-rejected-apps>Include Rejected Applications</label>
                        <input type="checkbox" value="include-rejected-apps" name="include-rejected-apps">
                    </div>
                    <button type="submit"
                        class="fixed-size-button button is-rounded is-primary yellow-solid-button">Search</button>
                </div>
                <hr>
                <div id="sort-my-apps" class="flex-center">
                    <p>Sort results by:&nbsp;</p>
                    <div class="select is-rounded is-small">
                        <select>
                            <option>Job Title</option>
                            <option>Company</option>
                            <option>Date Applied</option>
                            <option>Status</option>
                        </select>
                    </div>
                </div>
                <div class="my-list">
                    <% for (app of apps) {%>
                        <div class="app-details">
                            <div class="app-details-row app-details-top-row">
                                <p>
                                    <%=app.title%>
                                </p>
                                <p>
                                    <%=app.status%>
                                </p>
                            </div>
                            <div class="app-details-row app-details-bottom-row">
                                <p>
                                    <%=app.employer%>
                                </p>
                                <p>
                                    <%=app.dateApplied%>
                                </p>
                            </div>
                            <div id="app-details-buttons" class="control flex-buttons">
                                <button class="button app-preview-button is-rounded is-primary is-small">Update or
                                    Review</button>
                                <button class="button app-preview-button is-rounded is-small">Mark as Rejected</button>
                            </div>
                            <hr>
                        </div>
                        <% } %>
                </div>
            </div>
    </body>

</html>