<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs'); %>


    <body>


        <%- include('../partials/navbar.ejs') %>
            <div id="application-details-page" class="in-app-page">
                <div class="application-details-page-buttons">
                    <a href="/student/my_applications">
                        <span class="icon is-large">
                            <i class="fas fa-lg fa-arrow-left"></i>
                        </span>
                    </a>
                    <a href="/student/<%=app._id%>/edit"><span class="icon is-large">
                            <i class="fas fa-lg fa-edit"></i>
                        </span>
                    </a>
                </div>
                <div class="application-details-page-details margin-20px">
                    <h4 class="subtitle is-4 no-margin center-text">
                        <%=app.title%>
                    </h4>
                    <h5 class="subtitle is-5 no-margin center-text">
                        <%=app.employer%>
                    </h5>
                    <h5 class="subtitle is-5 no-margin center-text">Date Applied: <%=app.dateApplied%>
                    </h5>
                    <h5 class="subtitle is-5 no-margin center-text">Status: <%=app.status%>
                    </h5>
                    <div class="app-details">
                        <h5 class="subtitle is-5">Job Description</h5>
                        <p>
                            <%=app.jobDescription%>
                        </p>
                    </div>
                    <h5 class="subtitle is-5">Notes</h5>
                    <p>
                        <%=app.notes%>
                    </p>
                </div>
            </div>
    </body>

</html>