<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs'); %>


    <body>


        <%- include('../partials/navbar.ejs') %>
            <div id="application-details-page" class="in-app-page">
                <!-- <div class="application-details-page-buttons">
                    <a href="/student/my_applications/false/dateApplied/null">
                        <span class="icon is-large">
                            <i class="fas fa-lg fa-arrow-left"></i>
                        </span>
                    </a>
                    <a href="/student/<%=app._id%>/edit"><span class="icon is-large">
                            <i class="fas fa-lg fa-edit"></i>
                        </span>
                    </a>
                </div> -->
                <div class="application-details-page-details margin-20px">
                    <h3 class="subtitle is-3 center-text">
                        <b><%=app.title%></b>
                    </h3>
                    <h5 class="subtitle is-5 center-text">
                        <b><%=app.employer%></b>
                    </h5>
                    <h5 class="subtitle is-5 center-text"><b>Date Applied: </b><% const months={ 0: "January" , 1: "February" , 2: "March" , 3: "April" , 4: "May" ,
                        5: "June" , 6: "July" , 7: "August" , 8: "September" , 9: "October" , 10: "November" ,
                        11: "December" } %><%const month=app.dateApplied.getMonth()%>
                        <%const date=`${months[app.dateApplied.getMonth()]}
                            ${app.dateApplied.getDate()}, ${app.dateApplied.getFullYear()}`%>
                            <%=date%>
                    </h5>
                    <h5 class="subtitle is-5 no-margin center-text"><b>Status: </b><%=app.status%>
                    </h5>
                    <a href="/student/<%=app._id%>/edit" class="flex-center margin-20px">
                        <button class="fixed-size-button button is-rounded is-primary yellow-solid-button">Update</button>
                    </a>
                    <div class="app-details">
                        <h5 class="subtitle is-5"><b>Job Description</b></h5>
                        <p>
                            <%=app.jobDescription%>
                        </p>
                    </div>
                    <h5 class="subtitle is-5"><b>Notes</b></h5>
                    <p>
                        <%=app.notes%>
                    </p>
                    
                </div>

                <div class="modal" id="show-app-modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Delete Application?</p>
                            <button class="delete" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                            Are you sure you wish to delete all data related to your application for <b><%=app.title%></b> at <b><%=app.employer%></b>?
                        </section>
                        <footer class="modal-card-foot">
                            <a>
                                <button class="button is-danger">Delete</button>
                            </a>
                            <button class="button">Cancel</button>
                        </footer>
                    </div>
                </div>
            </div>


        
    </body>

</html>